# Entornos virtuales
venv/
env/
ENV/
.VENV/

# Archivos de entorno
.env
.env.*

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de base de datos
db.sqlite3
*.sqlite3

# Archivos de log
*.log

# Archivos de caché
*.cache
*.tmp

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de migraciones innecesarios (opcional)
**/migrations/*.pyc
**/migrations/__pycache__/