# Entornos virtuales
venv/
env/
ENV/
.VENV/

# Archivos de entorno
.env
.env.*

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos (SQLite)
db.sqlite3
*.sqlite3

# Archivos de log
*.log

# Archivos de caché / temporales
*.cache
*.tmp

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de migraciones innecesarios (pero subís los .py)
**/migrations/*.pyc
**/migrations/__pycache__/

# Empaquetado (opcional si hacés builds)
*.egg-info/
dist/
build/
